/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 nov. 2018, 08:55:37
    Author     : arnaud
*/

#logoutForm{
    position: absolute;
    top: 5%; 
    margin-left: 80%; 
    display: inline-block;
    width: 210px;
    
}

#logoutForm p{
    float: left;
}

#logoutForm button{
    float: right;
}
